:root {
  --color-primary: #30d7ba;
  --color-secondary: #03d6f3;
  --color-accent: #112d57;
  --color-heading: #000000;
  --color-body: #5c5c5c;
  --color-white: #fff;
  --color-black: #000;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-body);
  font-size: 1.8rem;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  line-height: 5.7rem;
  margin: 0;
  margin-bottom: 1.2rem;
}

h1 {
  font-size: 4.6rem;
}
h2 {
  font-size: 4.6rem;
}
h3 {
  font-size: 3rem;
  line-height: 3.3rem;
}

p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.6rem;
  }
  h2 {
    font-size: 4.6rem;
  }
  h3 {
    font-size: 3rem;
  }
}

/* COMPONENTS */
/* Blocks */
.block {
  padding: 5.5rem 6rem;
}

.block-header {
  text-align: center;
  max-width: 790px;
  margin: 0 auto;
}

.container {
  max-width: 127.6rem;
  margin: 0 auto;
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  padding: 4rem 5rem;
  box-shadow: 0 0 16px 9px #e7e7e7;
  border-radius: 1rem;
}

/* Link */

a {
  text-decoration: none;
}

.link {
  font-size: 1.5rem;
  line-height: 2.7rem;
  white-space: nowrap;
}

.link--secondary {
  color: var(--color-secondary);
}

/* Button */

.btn {
  font-size: 1.6rem;
  padding: 1.2rem 2.9rem;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  border-radius: 4rem;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn--white-1 {
  background-color: var(--color-white);
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.btn--white-1:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn--stretched {
  padding: 1.6rem 8.9rem;
}

@media screen and (min-width: 768px) {
  .btn--stretched {
    padding: 1.4rem 4.9rem;
  }
}

.btn--outline {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.btn--white {
  background-color: var(--color-white);
  color: var(--color-accent);
  border: 1px solid var(--color-white);
  border-radius: 4rem;
}

.btn--outline:hover {
  background-color: white;
  color: var(--color-accent);
}

.icon {
  width: 6rem;
  height: 6rem;
}

/* List */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Collapsible */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
}

/* SECTIONS */
/* Header */
header {
  background: #c91de7;
  background: linear-gradient(199deg, #cb1ae8 0%, #37bda6 100%);
}

/* Navbar */
.nav {
  padding: 2.4rem;
  overflow: hidden;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 17.6rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  width: 100%;
}

.nav__list .list__item {
  border-bottom: 1px solid white;
  margin-top: 2rem;
  padding-bottom: 0.7rem;
}

.nav__list .list__item > a {
  color: white;
}

.humburger {
  margin-left: 3rem;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 18.6rem;
  }

  .humburger {
    display: none;
  }

  .nav__list {
    width: auto;
    max-height: 100%;
    display: flex;
    gap: 4.5rem;
    order: 2;
  }

  .nav__list .list__item {
    border-bottom: none;
    margin-top: 0;
    padding-bottom: 0;
  }

  .nav-links {
    order: 3;
  }
}

/* Hero */
.hero {
  text-align: center;
}
.hero__heading {
  color: var(--color-white);
}

.hero__tag {
  color: #e5e5e5;
  font-weight: 700;
}

.cta-btns {
  margin: 4.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.hero__image {
  width: 100%;
  max-width: 1022px;
}

@media screen and (min-width: 768px) {
  .hero__heading {
    max-width: 56rem;
    margin: 2rem auto;
  }

  .hero__tag {
    margin-bottom: 6rem;
  }

  .cta-btns {
    flex-direction: row;
  }
}

/* Product */
.products {
  margin-top: 8.5rem;
  gap: 6.4rem;
}

.product__card {
  text-align: center;
}

.product__heading {
  margin-top: 2rem;
}

.product__text {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .products {
    margin-top: 5.5rem;
    gap: 3.1rem;
  }

  .product__card {
    text-align: left;
    padding: 4rem 5rem;
  }
}

/* Features */
.features {
  margin-top: 8rem;
}

.feature__image {
  width: 100%;
}

.feature__cta-btns {
  align-items: normal;
  justify-content: normal;
  text-align: center;
  max-width: 409px;
  margin-left: auto;
  margin-right: auto;
}

.show-big-screen {
  display: none;
}

.feature__text {
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  .features {
    gap: 4rem;
  }

  .feature__cta-btns {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .show-big-screen {
    display: block;
  }

  .show-small-screen {
    display: none;
  }

  .features:nth-of-type(even) .feature__content {
    order: 1;
  }
}
